body {
    font-family: Arial, sans-serif;
    background-color: #2d0d52;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background:url(img2.jpg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top:120px;
    position: relative
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="number"], input[type="date"], select {
    width: 100%;
}

.btn-box{
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    font-size: 18px;
    margin: auto;

}

button:hover {
    background-color: #446e88;
}

#confirmationMessage {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #007bff;
}
